{% extends 'smartdiabetes/base.html' %}
{% block title %}
    <title>Dawka</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
     <div class="">
    <p>
        <h3>Proponowana dawka na posiłek</h3>
        {#    <h4>{{ item.name }}</h4>#}
        <div class="container-fluid">
            {% if insulin_for_correction %}
                Korekta: {{ insulin_for_correction }}<br>
                Bolus podstawowy na posiłek: {{ insulin_for_ww }}<br>
            {% endif %}
    <p><strong>Proponowany bolus podstawowy: {{ bolus }}<br>
        {% if insulin_for_wbt > 0 %}
            Proponowany bolus przedłużony: {{ insulin_for_wbt }}<br>
            Czas bolusa przedłużonego: {{ time_for_wbt }}
        {% endif %}
    </strong></p>
        <form action="{%  url 'meal-record' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">OK</button>
    </form>
    </div>
     </div>
    </div>
    </p>
{% endblock %}