<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'menu' %}">Twoje posiłki</a></li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'add-menu' %}">Dodaj posiłek</a></li>
        <li class="nav-item">
             <a class="nav-link" href="{% url 'add-glucose' %}">Dodaj glikemie</a></li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'calculate-meal' %}">Wylicz dawkę</a></li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'calculate-correction' %}">Wylicz korektę</a></li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stat' %}">Statystyki</a></li>
    </ul>
</div>
